/* ROOT - global.css */

:root {
  --body-color: #fdfbf9;
}

/* FONT */
@font-face {
  font-display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  src:
    url(../font/Inter-Regular.woff2) format("woff2"),
    url(../font/Inter-Regular.woff2) format("woff");
}

@font-face {
  font-display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src:
    url(../font/Inter-SemiBold.woff2) format("woff2"),
    url(../font/Inter-SemiBold.woff2) format("woff");
}

@font-face {
  font-display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src:
    url(../font/Inter-Bold.woff2) format("woff2"),
    url(../font/Inter-Bold.woff2) format("woff");
}

@font-face {
  font-display: block;
  font-family: tiempos;
  font-style: normal;
  font-weight: 600;
  src:
    url(../font/tiempos-headline-web-medium.woff2) format("woff2"),
    url(../font/tiempos-headline-web-medium.woff2) format("woff");
}

/* COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: Inter;
  font-weight: normal;
  color: #1a1715;
  line-height: 1.8;
  min-height: 100%;
  background-color: var(--body-color);
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: tiempos;
  font-weight: 600;
  line-height: 1.32;
}

.wrapper {
  margin-inline: auto;
  box-sizing: content-box;
  max-width: 70.2rem;
  padding-inline: 1.2rem;
}

.container {
  padding: 0 4.8888888889rem;
}

.arrow-down-icon {
  width: 0.5555555556rem;
  height: 12px;
}

[role="button"],
.btn {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 2.6666666667rem;
  font-size: 19px;
  white-space: nowrap;
  background-color: #4b2aad;
  color: #fdfbf9;
  padding: 1rem;
}

/* HEADER */

.navbar-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 0.8rem;
}

.navbar {
  display: none;
}

.navbar__right-link {
  display: none;
}

.navbar__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__text {
  padding: 1rem;
}

.navbar__right {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.navbar__mobile-btn {
  background-color: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-family: Inter;
  cursor: pointer;
}

.navbar__link {
  position: relative;
  padding: 1rem;
  border-radius: 40px;
  border: 5px solid transparent;
}

.navbar__link:hover {
  border: 5px solid #d7d2e8;
}

.navbar__link:hover .subnav {
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 1065px) {
  .navbar {
    display: block;
  }

  .navbar__mobile-menu {
    display: none;
  }

  .navbar__right-link {
    display: block;
  }
}

.subnav {
  position: absolute;
  background-color: #fff;
  opacity: 0;
  content: "";
  padding: 2rem;
  left: 0;
  top: 110%;
  pointer-events: none;
  border: 0.0555555556rem solid #dfd8d3;
  box-shadow:
    0 0.4444444444rem 0.8888888889rem rgba(0, 0, 0, 0.1),
    0 0.2222222222rem 0.2222222222rem rgba(0, 0, 0, 0.02);
  display: flex;
  gap: 10px;
}

.subnav__divider {
  border-left: 1px solid #d7d2e8;
  padding-left: 1rem;
}

.subnav__heading {
  text-transform: uppercase;
  font-weight: 600;
  color: #9c8881;
  padding: 1rem 1rem 1rem 0;
}

.subnav__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.subnav__list-item {
  line-height: 1.8;
  white-space: nowrap;
}

.subnav__list-item:hover {
  color: #4b2aad;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1rem;
}

.hero__heading {
  font-size: 32px;
  text-align: center;
}

.hero__description {
  color: #5c5856;
  font-size: 19px;
  text-align: center;
}

.hero__image {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 930px) {
  .hero__heading {
    font-size: 44.66px;
  }
}
